body {
    height: 100%;
    background:white;
    font-family: "Lora",serif;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    padding:0em 2em;
}

.container {
    margin: 0 auto;
    width: 100%;

}

/* Custom navbar */
.navbar-brand, .navbar-nav > li > a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav > .active > a {
    opacity: .6;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    width: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #ff3333;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 2px;
}

.vertic {
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;
}

.icon-atas {
    padding: 2em;
    overflow: hidden;
    margin-left: -1em;
    margin-right: -1em;
}
.text-atas {
    padding: 1em;
    font-size: 3em;
    text-align: center;
    color: #F44336;
    font-weight: bold;
}
.text-atas span{
    color:#4BAE4F;
}
/*Marquee*/
.syarat-marquee {
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    height: 112px;
    background: #F44336;
    color: white;
    width: 102%;
    margin-left: -3%;
    font-size: 1.5em;
}
a{
    color: white;
}
.atas-marquee {
    overflow: hidden;
    text-align: center;
    background-color: #4BAE4F;
    color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 68px;
    margin-left: -2%;
    padding: 0.75em 0.5em 0.5em;
    font-size: 1.5em;
}
.kbb{
    background: #F44336;
    color: white;
    font-size: 2em;
    padding: 0.5em;
    height: 68px;
    text-align: center;
    z-index: 1;
}
.ml-01em{
    margin-left: 0.1em;
}

.clock {
    width: 100%;
    padding: 1.5em 1em 1em;
    height:8em;
    background: #4BAE4F;
}

#Date {
    font-size: 1em;
    color:white;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

ul {
    width: 100%;
    margin: 0 -2em;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 1px;
    padding-right: 1px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

.blue {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #89C0F7;
    border-radius: 10px;
}

.red {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #f44336;
    border-radius: 10px;
}

.grid-view table.items th a {
    display: block;
    position: relative;
    text-align: center;
}

.nav-tabs {
    margin-bottom: 15px;
    position: absolute;
    border-bottom: 1px solid #000000;
    visibility: hidden;

}

.table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid rgba(49, 49, 49, 0.81);
    text-align: center;
}

.head {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.body-content{
    margin-left: 1em;
    margin-right: 1em;
}
.footer-content{
    margin-left: 1em;
    margin-right: 1em;
}
.flexslider {

    margin: 0 0 10px;
    overflow: hidden;
    background: #000;
    border: none;
    position: relative;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.flexslider .slides img {
    max-height: 500px; /*maximum height for all slides*/
    width: auto; /*proper aspect ratio of images*/
    max-width: 100%; /*maximum width for all slides*/
    margin: 0 auto; /*centering images in the container*/
}


.slide-desc {
    background-color: rgba(75, 174, 79, 0.8);
    color: #fff;
    bottom: 0;
    vertical-align: middle;
    text-align: left;
    position: absolute;
    width: inherit;
    min-width: 300px;
    min-height: 20px;
    font-size: 1em;
    padding:1em;
}
.mb-1em{
    margin-bottom: 1em;
}
#hiddentab-bottom {
    height: 250px;
}

#hiddentab {
    height: 300px;
}