
.navbar {
    border-radius: 0px;
    font-size: 1px;
}

body {
    font-size: 13px;
}

.main {
    background: #fff;
    margin: 5px 20px;
    padding: 25px;
    border: 3px double #ccc;
    border-radius: 5px;
    margin-bottom: 70px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #34495E;
    border-radius: 4px;
}

.title-box {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.title {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #34495E;
    border-radius: 4px;
    color: #ffffff;
}

.breadcrumb > .active {
    color: #C5C5C5;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #34495E;
    color: #FFFFFF;
}

.breadcrumb > li > a {
    color: #FFFFFF;
}

.breadcrumb > li > a:hover, .nav > li > a:focus {
    color: #1ABC9C;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #34495E;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

a {
    color: #34495E;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #34495E;
    border-color: #cacfd2;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #1ABC9C;
}

.grid-view-loading {
    background: url(loading.gif) no-repeat;
}

.grid-view {
    padding: 10px 0;
}

.grid-view table.items {
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #BBE5FF solid;
}

.grid-view table.items th, .grid-view table.items td {
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.12em;
}

.grid-view table.items tr td {
    text-align: center;
}

.grid-view table.items th {
    color: white;
    background-color: #34495E;
    text-align: center;
}

.grid-view table.items th a {
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
}

.grid-view table.items th a:hover {
    color: #1ABC9C;
}

.grid-view table.items th a.asc {
    background: url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items th a.desc {
    background: url(down.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table.items tr.even {
    background: #FFFFFF;
}

.grid-view table.items tr.odd {
    background: #FFFFFF;
}

.grid-view table.items tr.selected {
    background: #BCE774;
}

.grid-view table.items tr:hover.selected {
    background: #CCFF66;
}

.grid-view table.items tbody tr:hover {
    color: #ffffff;
    background: #34495E;
}

.grid-view .link-column img {
    border: 0;
}

.grid-view .button-column {
    text-align: center;
    width: 60px;
}

.grid-view .button-column img {
    border: 0;
}

.grid-view .checkbox-column {
    width: 15px;
}

.grid-view .summary {
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager {
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view .empty {
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select {
    width: 100%;
    border: 1px solid #ccc;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
}

.blue {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #89C0F7;
    border-radius: 10px;
}

.red {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #F74F4E;
    border-radius: 10px;
}

.select2-results .select2-highlighted {
    background: #1ABC9C;
    color: #fff;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #1abc9c;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #1abc9c;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.daterangepicker.dropdown-menu.show-calendar.opensright.dropdown-menu {
    visibility: visible;
    opacity: 20;
    display: none;
}

.datepicker.datepicker-dropdown.dropdown-menu {
    visibility: visible;
    opacity: 20;
    display: none;
}

.select2-container .select2-choice {
    height: 40px;
}

.pager {
    background-color: #ffffff;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: inherit;
    margin-top: 20px;
    padding: 20px;
}

.grid-view .pager {
    margin: 0px 0 0 0;
    text-align: center;
}

.flexslider {
    margin: 0 0 10px;
    background: #000;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}
.flexslider .slides img {
    max-height: 500px; /*maximum height for all slides*/
    width: auto; /*proper aspect ratio of images*/
    max-width: 100%; /*maximum width for all slides*/
    margin: 0 auto; /*centering images in the container*/
}
.slide-desc {
    padding: 6px;
    background-color: rgba(63, 81, 181, 0.73);
    color: #fff;
    bottom: 50%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: inherit;
    min-width: 300px;
    min-height: 20px;
    font-size: 1.5em;
} 